// Colors
$black-color: #030303;
$white-color: #FFFFFF;
$grey-color: #C9C9C9;
$yellow-color:#F0BE4D;
$primary-gradient:linear-gradient(90deg, #11007C , #C65473);
$pink-color:#C40F62;
$lightpink-color:#C40E61;
$title-gradient: linear-gradient(90deg, #2203FF, #C40D60);

// Font
$font-small: 12px;
$font-medium: 24px;
$font-large: 27px;

// Spacing
$padding-small: 8px;
$padding-medium: 16px;

